/* Global styles */
body {
    background-color: #855a5a;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Navbar styling */
.navbar {
    background-color: #007bff; /* Change the background color */
}

.navbar-brand {
    color: #3b3232; /* Change the text color */
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #855a5a; /* Change the text color of navbar links */
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 15px;
}

.navbar-nav .nav-link:hover {
    color: #231d1d; /* Change the text color on hover */
    background-color: rgba(255, 255, 255, 0.1); /* Add a background color on hover */
    border-radius: 5px;
}

.navbar-toggler-icon {
    color: #776565; /* Change the color of the navbar toggler icon */
}

/* Main content styling */
#content-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #2c2f31; /* Change the background color of the main content */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a shadow to the main content */
}

/* Chat widget styling */
#chat-widget {
    background-color: #ab9a9a;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 0 auto;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

#chat-widget .card-header {
    background-color: #007bff;
    color: #fff;
    border-radius: 5px 5px 0 0;
}

#chat-widget .card-footer {
    background-color: #606972;
    border-top: 1px solid #dee2e6;
}

#chat-widget-input {
    border-radius: 20px;
}

/* Custom button styling */
.custom-btn {
    background-color: #28a745;
    color: #fff;
    border-radius: 20px;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
}

.custom-btn:hover {
    background-color: #218838;
}


/* Footer styling */
.footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    text-decoration: underline;
}